* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-172339: #172339;
  --color-49566D: #49566D;
  --color-CB30E3: #CB30E3;
  --color-FFA84E: #FFA84E;
  --color-F3EDE7: #F3EDE7;
  --color-A060FF: #A060FF;
  --color-FAF8F6: #FAF8F6;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoname {
  color: var(--color-172339);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.request-beta{
  background-color: var(--color-172339);
  color: var(--color-F3EDE7);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  border: none;
}